
@{
    ViewData["Title"] = "Index";
}

<h2>Список пользователей</h2>
<div class="panel-body">
    <button type="button" id="createNew" class="btn btn-sm btn-primary" OnClick="Show();">Create new Topic</button>
    <button type="button" id="logOut" class="btn btn-sm btn-primary" OnClick="LogOut();">Create new Topic</button>
</div>
<div id="createform" style="display:none;">
    <form display="none" name="topicForm" action="javascript:;" onsubmit="CatchSubmit(this)">
        <input type="hidden" name="id" value="0" />
        <div class="form-group">
            <label for="name">Заголовок:</label>
            <input class="form-control" name="name" />
        </div>
        <div class="form-group">
            <label for="tag">Tag:</label>
            <input class="form-control" name="tag" />
        </div>
        <div class="form-group">
            <label for="description">description:</label>
            <textarea class="form-control" name="description"></textarea>
        </div>
        <div class="panel-body">
            <button type="submit" class="btn btn-sm btn-primary">Сохранить</button>
            <a id="reset" class="btn btn-sm btn-primary">Сбросить</a>
        </div>
    </form>
</div>
<table id ="allTopics"  style="display:none;" class="table table-condensed table-striped table-bordered">
    <thead><tr><th>Tag</th><th>Заголовок</th><th>Пользователь</th><th></th></tr></thead>
    <tbody></tbody>
</table>

@section Scripts {
<script>

    function LogOut() { 
        $.ajax({
            url: '/account/logout',
            type: 'POST'
        });
    }

    function CloseDetail() { 
        $(".table").toggle();
        $("#detail").toggle();
    }

    function Show() {
        $("#createform").toggle();
        if ($("#createNew").text() === "Close") { $("#createNew").html("Create new Topic"); }
        else { $("#createNew").html("Close"); }
    }
    // Получение всех пользователей
    function GetTopics() {
        $.ajax({
            url: '/api/topics',
            type: 'GET',
            contentType: "application/json",
            success: function (topics) {
                var rows = "";
                $.each(topics, function (index, topic) {
                    // добавляем полученные элементы в таблицу
                    rows += row(topic);
                })
                $("table tbody").append(rows);
                $("#allTopics").toggle();
            }
        });
    }
    // Получение одного пользователя
    function GetTopic(id) {
        $.ajax({
            url: '/api/topics/' + id,
            type: 'GET',
            contentType: "application/json",
            success: function (topic) {
                $("#detail").remove();
                $("table").after(details(topic)); 
            }
        });
    }
    // Добавление пользователя
    function CreateTopic(topicName, topicDescription, topicTag) {
        $.ajax({
            url: "../api/topics",
            contentType: "application/json",
            type: "POST",
            data: JSON.stringify({
                name: topicName,
                description: topicDescription,
                tag: topicTag
            }),
            success: function (topic) {
                reset();
                $("table tbody").append(row(topic));
            }
        })
    }
    // Изменение пользователя
    //function EditUser(userId, userName, userAge) {
    //    $.ajax({
    //        url: "api/users",
    //        contentType: "application/json",
    //        method: "PUT",
    //        data: JSON.stringify({
    //            id: userId,
    //            name: userName,
    //            age: userAge
    //        }),
    //        success: function (user) {
    //            reset();
    //            $("tr[data-rowid='" + user.id + "']").replaceWith(row(user));
    //        }
    //    })
    //}

    // сброс формы
    function reset() {
        var form = document.forms["topicForm"];
        form.reset();
        form.elements["id"].value = 0;
    }

    // Удаление пользователя
    //function DeleteTopic(id) {
    //    $.ajax({
    //        url: "api/topics/" + id,
    //        contentType: "application/json",
    //        method: "DELETE",
    //        success: function (user) {
    //            $("tr[data-rowid='" + topic.id + "']").remove();
    //        }
    //    })
    //}

    var details = function (topic) {
        return "<div id='detail'><div class='row'> <div class='col-md-3'>" + topic.name + "</div><div class='col-md-3'> Создатель:" + topic.user + "</div>" +
            "<div class='col-md-2'> <button type='button' id='closeDetail' class='btn btn - sm btn - primary' OnClick='CloseDetail();'>Close</button> </div></div>" +
            "<div class='row'> <div class='col-md-8'> <pre>Текст статьи: \n" + topic.description + "<\/pre></div> </div> </div> </div> "
    }

    var row = function (topic) {
        return "<tr data-rowid='" + topic.id + "'><td>" + topic.tag + "</td>" +
            "<td>" + topic.name + "</td> <td>" + topic.user + "</td>" +
            "<td><a class='moreLink' data-id='" + topic.id + "'>More</a>";
    }
    // сброс значений формы
    $("#reset").click(function (e) {

        e.preventDefault();
        reset();
    })

    // отправка формы
    function CatchSubmit(f) {
        var id = f.elements["id"].value;
        var name = f.elements["name"].value;
        var tag = f.elements["tag"].value;
        var description = f.elements["description"].value;
        if (id == 0)
            CreateTopic(name, description, tag);
        else
            EditTopic(id, name, description);
    };

    // нажимаем на ссылку Изменить
    $("body").on("click", ".moreLink", function () {
        $("#allTopics").toggle();
        var id = $(this).data("id");
        GetTopic(id);
    })

    // загрузка пользователей
    GetTopics();

</script>
}

